<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="#/landingPage/{{model.userId}}">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/about" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/attractions" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/guide" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/live" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="profileBackground">

</section>
<section id="profileMain">
    <!--<div id="profilePerson"><img src="image/users.png"></div>-->
    <div class="container">
        <div class="myProfile">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-user pull-left"></span>
                    <a><h3>My Profile</h3></a>
                    <div></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Username:</p></div>
                    <div class="col-xs-8 right"><p>{{model.user.username}}</p></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Email:</p></div>
                    <div class="col-xs-8 right"><p>{{model.user.email}}</p></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Favorites:</p></div>
                    <div class="col-xs-8 right"><a href="#">2</a></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Post:</p></div>
                    <div class="col-xs-8 right"><a href="#">0</a></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Logout:</p></div>
                    <div class="col-xs-8 right"><a href="#landingPage"><span class="glyphicon glyphicon-log-out" style="color: #de5657"></span></a></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="myFavorites" ng-controller="userMainpageController as model">
    <div class="container">
        <div class="col-lg-12">
            <div class="introtitle">
                <span class="glyphicon glyphicon-heart pull-left"></span>
                <a><h3>My Favorites</h3></a>
                <div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">1. Travel Guide</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h5>Giacomo’s Ristorante</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">2. Attractions</h4>
        <div class="row detailShow" >
            <div class="col-sm-3" ng-repeat="likeAttraction in model.likeAttractions|orderBy : 'rank'">
                <div class="jga-widget-tool">
                    <a ng-click="model.unlikeAttraction(likeAttraction._id)">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                </div>
                <a href="#/{{model.userId}}/attractions/{{likeAttraction._id}}">
                    <div class="thumbnail">
                        <img ng-src={{likeAttraction.image}}>
                        <div class="caption">
                            <h5>{{likeAttraction.rank}}. {{likeAttraction.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">3. Hotels</h4>
        <div class="row detailShow" >
            <div class="col-sm-3" ng-repeat="likeAttraction in model.likeHotels">
                <div class="jga-widget-tool">
                    <a ng-click="model.unlikeHotel(likeAttraction._id)">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                </div>
                <a ng-href="{{likeAttraction.booking}}">
                    <div class="thumbnail">
                        <img ng-src={{likeAttraction.image}}>
                        <div class="caption">
                            <h5>{{likeAttraction.name}}</h5>
                            <p><span>${{likeAttraction.price}}</span> | <span class="stars">{{likeAttraction.stars}} STARS</span></p>
                            <p>{{likeAttraction.address}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">4. Restaurants</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h5>Giacomo’s Ristorante</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
