<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="#{{model.userId}}">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="about/boston.html" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="attraction/attraction.html" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="guide/guide.html" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="live/live.html" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="#{{model.userId}}">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="about/boston.html" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="attraction/attraction.html" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="guide/guide.html" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="live/live.html" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="profile1">

</section>
<section id="profileMain">
    <!--<div id="profilePerson"><img src="image/users.png"></div>-->
    <div class="container">
        <div id="myProfile">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-user pull-left"></span>
                    <a><h3>My Profile</h3></a>
                    <div></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Username:</p></div>
                    <div class="col-xs-8 right"><p>yuxi</p></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Email:</p></div>
                    <div class="col-xs-8 right"><p>676883173@qq.com</p></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Favorites:</p></div>
                    <div class="col-xs-8 right"><a href="#">2</a></div>
                </div>
                <div class="profileDetail row">
                    <div class="col-xs-4 left"><p>Post:</p></div>
                    <div class="col-xs-8 right"><a href="#">0</a></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="myFavorites">
    <div class="container">
        <div class="col-lg-12">
            <div class="introtitle">
                <span class="glyphicon glyphicon-heart pull-left"></span>
                <a><h3>My Favorites</h3></a>
                <div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">1. Travel Guide</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h5>Giacomo’s Ristorante</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">2. Attractions</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h5>Giacomo’s Ristorante</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">3. Hotels</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h5>Giacomo’s Ristorante</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="favorateTitle">4. Restaurants</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h5>Giacomo’s Ristorante</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
