
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website.name,model.website.description)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

    <div class="container">

        <form>
            <div class="form-group">
                <label for="website-name">Website Name</label>
                <input type="text"
                       class="form-control"
                       id="website-name"
                       value="Blogging"
                       ng-model="model.website.name"
                       placeholder="Google">
            </div>
            <div class="form-group">
                <label for="website-description">Website Description</label>
                <textarea rows="4"
                          id="website-description"
                          class="form-control"
                          ng-model="model.website.description"
                          placeholder="Description">People are changing their lives daily with blogging, whether it be through personal stories, building resources for others or using a blog to generate some extra money on the side. Not only have I experienced the power of blogging first hand, but I’ve also helped thousands of others discover the same. Now it’s your turn!</textarea>
            </div>
        </form>

        <a class="btn btn-danger  btn-block"
           href="#/user/{{model.userId}}/website">Delete</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-left">
            <a href="#/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-share-alt"></span>
            </a>
        </div>

        <div class="pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
