body{
    width: 100%;
    height: 100%;
    font-family: Abel;
}

html {
    width: 100%;
    height: 100%;
}

.login{
    padding: 40px 0;
    height: 100%;
    background: url("../image/state1.jpg") no-repeat center;
    background-size: cover;
}

a{
    color: white;
}

.loginpage{
    padding: 40px 20px;
    color: white;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.64);
}

.login legend{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.loginpage .loginbtn{
    width: 100%;
}

.loginpage .or{
    padding-top: 20px;
    text-align: center;
}
.loginpage .or .col-xs-5{
    margin-top: 8px;
    height: 2px;
    background-color: #ffffff;
}

.loginpage .social{
    list-style: none;
    padding: 0;
    display: table;
    text-align: center;
    width: 100%;
}

.loginpage .social li{
    padding: 10px;
    display: inline-block;
}

.loginpage .social img{
    width: 40px;
}

@media(min-width:767px) {
    .login{
        padding: 60px 0;
        height: 100%;
        background: url("../image/state.jpg") no-repeat center;
    }

    .loginpage{
        width: 60%;
    }
}