<h3><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Kevin R's City Tips</h3>
<ul>
    <li>Don't be afraid o ask questions, I don't know who ever said Bostonians aren't nice, they must have been here too long.</li>
    <li>Keep a sweatshirt handy... The weather could change with a blink of an eye.</li>
    <li>Wear some comfortable shoes!</li>
</ul>

<div>
    <div class="alert alert-success" role="alert">
        1. Boston Common:
    </div>
    <h4>Kevin R Says: </h4>
    <p>"Check out the Historic Boston Commons. The Swan boats are a neat little ride.
        Other than that, the scenery and statues are cool to check out."</p>
    <div class="alert alert-success" role="alert">
        2. Freedom Trial:
    </div>
    <h4>Kevin R Says: </h4>
    <p>"One of the best ways to see some good 'le American History. May overlap with some of the other places on this
        guide, but will give you a comprehensive view of the city, and where it came from."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Wear your walking sneakers and enjoy the atmosphere.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>
    <div class="alert alert-success" role="alert">
        3. North End:
    </div>
    <h4>Kevin R Says: </h4>
    <p>"One of the coolest neighborhoods in Boston. The rich history is present here. The food is great! Whether you're
        looking for a slice (Regina's), pastries (Bova's... Mike's if you want to be the tourist), or any other Italian
        food, this is the spot to head to. You can't miss. However, if you hate crowded streets, avoid Hanover St
        (especially if driving!)"</p>
    <h4>Tips: </h4>
    <ul>
        <li>Watch out for the cobblestones!</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>
</div>