<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <meta charset="UTF-8">
    <title>BostonTrip</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/mainpage.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../weather.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="../BostonTrip.html">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="../about/boston.html" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="/attraction.html" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="../guide/guide.html" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="../live/live.html" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="mainpage1" class="section1">
    ddddd

</section>

<section id="mainpage2" class="section2">
    aaaaa
</section>

<section id="mainpage3" class="section2">
    ddddeeee
</section>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-left">
            <a href="../user/like.html"><img src="../image/love1.png" id="loveicon"></a>
        </div>
        <div class="pull-right">
            <a href="../user/profile.html"><img src="../image/IMG_61451.jpg"></a>
        </div>
        <div class="pull-right" id="signup">
            <a href="../user/signup.html">Sign Up</a>
        </div>
        <div class="pull-right" id="login">
            <a href="../user/login.view.client.html">Log In</a>
        </div>


    </div>
</nav>

<script src="../js/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/mainpage.js"></script>

</body>
</html>