form{
    padding: 25px;
}

form.ng-submitted{
    /*border:solid 10px yellow;*/
}

form.ng-invalid.ng-submitted{
    /*background-color: red;*/
}

#age.ng-invalid-min{
    background-color: burlywood;
}

#age.ng-invalid-max{
    background-color: yellow;
}
