body{
    text-align: center;
    background-color: #7b4353;
    background-image: url("http://www.transparenttextures.com/patterns/skulls.png");
}

h1,h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-weight: 900;
    font-size:36px;
    padding-top: 20px;
}