<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="#landingPage">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#about" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="#attractions" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#guide" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="#live" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="mainpage1" class="section1">
    <input id="mainboston" placeholder="Search Attractions/Hotels/Restaurants..." class="form-control">
</section>

<section id="mainpage2" class="section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-tree-deciduous pull-left"></span>
                    <a href="#attractions"><h3>Attractions</h3></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row detailShow">
            <div class="col-sm-3" ng-repeat="attraction in model.attraction|filter:{type:1}">
                <div class="jga-widget-tool">
                    <a href="#login">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                </div>
                <a href="#/attractions/{{attraction._id}}">
                    <div class="thumbnail attraction">
                        <img ng-src={{attraction.image}}>
                        <div class="caption">
                            <h5>{{attraction.rank}}. {{attraction.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="mainpage3" class="section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-info-sign pull-left"></span>
                    <a href="#about"><h3>About Boston</h3></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="description"><span>Boston</span> is the capital of the Commonwealth of Massachusetts in
                    the United States, it is also the largest city in New England and
                    the 24th largest city in the United States. One of the oldest cities in the United States,
                    its rich history attracts many tourists. Also many colleges and universities make Boston
                    an international center of higher education.</p>
                <p class="description" id="temprature"><span>Weather: </span></p>
            </div>
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGzE9DS1l44kRoOhiASS_fHg&key=AIzaSyAtj0Egf0up_qsDHwMrew9LpXpcFBqWVsk" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mainpage4" class="section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-road pull-left"></span>
                    <a href="#guide"><h3>Travel Guide</h3></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" ng-repeat="guide in model.guides">
                <a href="#">
                    <div class="hoverwrapper">
                        <img ng-src={{guide.image}}>
                        <div class="hovershow">
                            <div class="hoverauthor"><img ng-src={{guide.userPhoto}}></div>
                            <h3>{{guide.name}}</h3>
                            <p>By {{guide.userName}}</p>
                            <p class="hoverhidden">{{guide.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="mainpage5" class="section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-glass pull-left"></span>
                    <a href="#live"><h3>Live and Eat</h3></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div  class="hotel container">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Most Popular">
                    <div class="hotelbackground">
                        <div class="row">
                            <div class="col-sm-3" ng-repeat="popular in model.popularHotels">
                                <a href="#">
                                    <div class="thumbnail">
                                        <img ng-src={{popular.image}}>
                                        <div class="caption">
                                            <h3>{{popular.name}}</h3>
                                            <h4>${{popular.price}}&nbsp;&nbsp;<span>{{popular.stars}} STARS</span></h4>
                                            <p>{{popular.address}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="4 stars and higher">
                    <div class="hotelbackground">
                        <div class="row">
                            <div class="col-sm-3" ng-repeat="popular in model.highHotels">
                                <a href="#">
                                    <div class="thumbnail">
                                        <img ng-src={{popular.image}}>
                                        <div class="caption">
                                            <h3>{{popular.name}}</h3>
                                            <h4>${{popular.price}}&nbsp;&nbsp;<span>{{popular.stars}} STARS</span></h4>
                                            <p>{{popular.address}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="3 stars and lower">
                    <div class="hotelbackground">
                        <div class="row">
                            <div class="col-sm-3" ng-repeat="popular in model.popularHotels">
                                <a href="#">
                                    <div class="thumbnail">
                                        <img ng-src={{popular.image}}>
                                        <div class="caption">
                                            <h3>{{popular.name}}</h3>
                                            <h4>${{popular.price}}&nbsp;&nbsp;<span>{{popular.stars}} STARS</span></h4>
                                            <p>{{popular.address}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
    </div>

    <div class="container eat">
        <h3>Seafood:</h3>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/giacomos-ristorante-boston">
                    <div class="thumbnail">
                        <img src="image/eat2.jpg" alt="1">
                        <div class="caption">
                            <h3>Giacomo’s Ristorante | Italian</h3>
                            <h4>$$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </h4>
                            <p>355 Hanover St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/neptune-oyster-boston">
                    <div class="thumbnail">
                        <img src="image/eat3.jpg" alt="2">
                        <div class="caption">
                            <h3>Neptune Oyster | Seafood</h3>
                            <h4>$$$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </h4>
                            <p>63 Salem St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/o-ya-boston">
                    <div class="thumbnail">
                        <img src="image/eat4.jpg" alt="3">
                        <div class="caption">
                            <h3>O Ya | Japanese</h3>
                            <h4>$$$$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </h4>
                            <p>9 East St Pl</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/james-hook-and-co-boston">
                    <div class="thumbnail">
                        <img src="image/eat5.jpg" alt="1">
                        <div class="caption">
                            <h3>James Hook & Co | Seafood</h3>
                            <h4>$$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>440 Atlantic Ave</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <h3>Desserts:</h3>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/mikes-pastry-boston">
                    <div class="thumbnail">
                        <img src="image/dessert1.jpg" alt="1">
                        <div class="caption">
                            <h3>Mike’s Pastry | Ice Cream</h3>
                            <h4>$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>300 Hanover St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/picco-boston-2">
                    <div class="thumbnail">
                        <img src="image/dessert2.jpg" alt="2">
                        <div class="caption">
                            <h3>Picco | Ice Cream</h3>
                            <h4>$$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>513 Tremont St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/cafe-madeleine-boston-2">
                    <div class="thumbnail">
                        <img src="image/dessert3.jpg" alt="3">
                        <div class="caption">
                            <h3>Cafe Madeleine | Bakery</h3>
                            <h4>$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </h4>
                            <p>517 Columbus Ave</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/modern-pastry-shop-boston">
                    <div class="thumbnail">
                        <img src="image/dessert4.jpg" alt="4">
                        <div class="caption">
                            <h3>Modern Pastry Shop | Bakery</h3>
                            <h4>$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>257 Hanover St</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h3>Fast Foods:</h3>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/uburger-boston">
                    <div class="thumbnail">
                        <img src="image/fast1.jpg" alt="1">
                        <div class="caption">
                            <h3>Uburger | Burgers</h3>
                            <h4>$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>Kenmore Sq 636 Beacon St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/shake-shack-boston">
                    <div class="thumbnail">
                        <img src="image/fast2.jpg" alt="2">
                        <div class="caption">
                            <h3>Shake Shack | Hot Dogs</h3>
                            <h4>$$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>234 Newbury St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/chicken-lous-boston">
                    <div class="thumbnail">
                        <img src="image/fast3.jpg" alt="3">
                        <div class="caption">
                            <h3>Chicken Lou's | Sandwiches</h3>
                            <h4>$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                            <p>50 Forsyth St</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.yelp.com/biz/beta-burger-boston">
                    <div class="thumbnail">
                        <img src="image/fast4.jpg" alt="4">
                        <div class="caption">
                            <h3>Beta Burger | Burgers</h3>
                            <h4>$
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </h4>
                            <p>1437 Tremont St</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right" id="signup">
            <a href="#register">Sign Up</a>
        </div>
        <div class="pull-right" id="login">
            <a href="#login">Log In</a>
        </div>
    </div>
</nav>
<script>
    $(init);
    function init(){
        $.ajax({
            url:"http://api.openweathermap.org/data/2.5/weather?q=Boston&APPID=40680bd060047bd428a3f6a2748e5f31&units=metric",
            success:weatherapi
        });
        function weatherapi(response){
            var weatherboston=response.main;
            var temp_min=parseInt(weatherboston.temp_min);
            var temp_max=parseInt(weatherboston.temp_max);
            $("#temprature").append(temp_min+"&#176;C"+"&nbsp;"+"~"+"&nbsp;"+temp_max+"&#176;C");
        }
    }
</script>
