
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                New Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWidget(model.widget.text,model.widget.size,model.newWidget.url,model.widget.width,model.widget.rows,model.widget.placeholder,model.widget.formatted)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div
         ng-switch on="model.widgetName.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include
            src="'views/widget/widget-header.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include
            src="'views/widget/widget-newImage.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include
            src="'views/widget/widget-youtube.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="HTML">
            <ng-include
                    src="'views/widget/widget-html-edit.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="TEXT">
            <ng-include
                    src="'views/widget/widget-text.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-default>Can not render the widget.</div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
