body {
    width: 100%;
    height: 100%;
    font-family: Abel;
}

html {
    width: 100%;
    height: 100%;
}

.wholeWrapper{
    width: 100%;
    height: 100%;
}

.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0.34);
    border: 0;
}

.navbar .col-xs-4 .logo{
    font-size: 18px;
    margin: 14px 0 0 3px;
    float: left;
}

.navbar .col-xs-4 .logo a{
    text-decoration: none;
    color: white;
}

.navbar .col-xs-6 input{
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    margin: 8px 0 0 0;
    display: block;
}

.navbar .col-xs-2 button{
    background-color: transparent;
    border: 0;
    margin:8px 0 0 0;
    margin-right: 3px;
    float: right;
    font-size: 26px;
    padding: 0;
    color: white;
}

.navbar .col-xs-2 button:hover{
    background-color: transparent;
}

.navbar-ex1-collapse{
    float: left;

}

.navbar-ex1-collapse li{
    font-size: 18px;
}

.top-nav-collapse {
    background-color: #de5556;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.section1 {
    height: auto;
    padding-top: 150px;
    text-align: center;
    background: url("../image/1boston.jpg") no-repeat right center;
    background-size: cover;
}

.section1 #tipue_search_input{
    left: 50%;
    width: 60%;
    top: 35%;
    margin-left: -30%;
    margin-top: -15px;
    background-color: white;
    position: absolute;
    padding: 24px;
    font-size: 22px;
    z-index: 10;
    display: none;
}

@media(min-width:767px) {
    .section1 {
        height: 60%;}

    .navbar-fixed-top {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar .col-xs-4 .logo{
        font-size: 24px;
        margin: 6px 0 0 3px;
    }

    .navbar .col-xs-6 input{
        display: none;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .section1 #tipue_search_input{
        display: block;
    }
}


/*==================================page2=====================================*/
#mainpage2 {
    height: auto;
    padding: 20px 0;
    background-color: #ffffff;
}


.introtitle .pull-left{
    font-size: 24px;
    color: #de5556;
}

.introtitle h3{
    text-transform: uppercase;
    position: relative;
    padding-left: 30px;
    font-size: 24px;
}

.introtitle div{
    width: 100px;
    height: 4px;
    background-color: #de5556;
    margin-bottom: 20px;
}

.introtitle a{
    text-decoration: none;
    color: black;
}

.attraction{
    text-align: center;
    background-color: #ffffff;
    background-image: url("http://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

.section2 a{
    text-decoration: none;
    color: black;
}

/*==================================page3=====================================*/
#mainpage3 {
    height: auto;
    padding: 20px 0 60px 0;
    background-color: #eee;
}

.description{
    font-size: 18px;
}

.description span{
    font-size: 22px;
    color: #de5556;
}

@media(min-width:767px){
    .description{
        font-size: 24px;
    }
    .description span{
        font-size: 30px;
        color: #de5556;
    }
}

    /*==================================page4=====================================*/
#mainpage4 {
    height: auto;
    padding: 20px 0 100px 0;
    background-color: #ffffff;
}

#mainpage4 .col-md-4{
    padding-bottom: 10px;
    margin: 0;
}

#mainpage4 .hoverwrapper{
    position: relative;
    width: 100%;
    background-color: #b1b1b1;
}

#mainpage4 .col-md-4 img{
    width: 100%;
}

#mainpage4 .col-md-4:hover .hovershow{
    margin-top: -190px;
    height: 190px;
}
#mainpage4 .col-md-4:hover .hoverhidden{
    display: block;
}

#mainpage4 .hovershow {
    width: 100%;
    text-align: center;
    height: 80px;
    background-color: #de5556;
    color: white;
    position: absolute;
    margin-top: -80px;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#mainpage4 .hoverhidden{
    display: none;
}

#mainpage4 .hovershow h3{
    font-size: 24px;
    margin: 0;
}
#mainpage4 .hovershow p{
    font-size: 16px;
}

#mainpage4 .hoverauthor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: -25px;
}

#mainpage4 .hoverauthor img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px  #de5556 solid;
}

/*==================================page5=====================================*/
#mainpage5 {
    height: auto;
    padding: 20px 0 100px 0;
    background-color: #eee;
}
#mainpage5 .hotel .hotelbackground{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

#mainpage5 .hotel form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

#mainpage5 .hotel .uib-tab{
    font-size: 20px;
}

#mainpage5 .caption{
    text-align: center;
}

#mainpage5 .caption h3{
    font-size: 20px;
    font-weight: 700;
    color: #de5556;
}

#mainpage5 .caption h4 span{
    color: #feba04;
}


#mainpage5 .eat .caption .stars{
    color: #feba04;
}

#mainpage5 .eat .caption span{
    font-size: 18px;
}

#mainpage5 .thumbnail{
    border: 0;
}

/*#mainpage5 .eat .col-sm-3{*/
    /*background-color: white;*/
/*}*/

/*===================================guides===================================*/
.page-header h1{
    color:#de5556;
    font-size: 24px;
}

.guideContext h3{
    color:#de5556;
}

.guideContext h4{
    color: #828282;
    font-weight: 800;
}

.guideContext .alert-success{
    font-size: 20px;
}
.guideDescription{
    font-size: 20px;
}

.commentPart .panel-title span{
    font-size: 18px;
    padding: 10px;
    color: #de5556;
}

@media(min-width:767px){
    .page-header h1{
        color:#de5556;
        font-size: 34px;
    }
}

/*======================resultPage===================*/
.resultPage{
    padding: 20px 0;
}

.resultPage form input{
    width: 100%;
    font-size: 22px;
    padding: 20px;
}

@media(min-width:767px){
    .resultPage form input{
        width: 50%;
    }
}

    /*==================================fixed bottom=====================================*/
.navbar-fixed-bottom{
    /*background-color: rgba(255, 255, 255, 0.89);*/
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    background-image: url("http://www.transparenttextures.com/patterns/flowers.png");
    border-top: 2px #b1b1b1 solid;
}

.navbar-fixed-bottom .pull-right,
.navbar-fixed-bottom .pull-left{
margin: 0 3px;
}

.navbar-fixed-bottom .pull-right img,
.navbar-fixed-bottom .pull-left img
{
    width: 38px;
    margin: 5px;
    border-radius: 50%;
}


.navbar-fixed-bottom #signup,
.navbar-fixed-bottom #login{
    font-size: 20px;
    padding-top: 10px;
}

.bottom-nav-collapse {
    background-color: #de5556;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}