<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="#/landingPage/{{model.userId}}">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about/{{model.userId}}" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="#attractions/{{model.userId}}" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#guide/{{model.userId}}" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="#live/{{model.userId}}" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="profileBackground"></section>
<section id="profileMain">
    <div class="container">
        <div id="myProfile">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-info-sign pull-left"></span>
                    <a href="#about/{{model.userId}}"><h3>About Boston</h3></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-left">
            <a href="#profile/{{model.userId}}"><img src="image/love1.png" id="loveicon"></a>
        </div>
        <div class="pull-right">
            <a href="#profile/{{model.userId}}"><img src="image/users.png"></a>
        </div>
    </div>
</nav>