
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.createPage(page,pageTitle)">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>
    <form>
        <div class="form-group">
            <label for="page-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="page-name"
                   ng-model="page"
                   placeholder="Page Name">
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input type="text"
                   class="form-control"
                   id="page-title"
                   ng-model="pageTitle"
                   placeholder="Page Title">
        </div>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
