<form >
    <div class="form-group">
        <label for="widget-name">Name</label>
        <input disabled type="text"
               class="form-control"
               placeholder="name"
               ng-model="model.widget.widgetType"
               id="widget-name">
    </div>
    <div class="form-group">
        <label for="widget-url">URL</label>
        <input type="url"
               class="form-control"
               id="widget-url"
               ng-model="model.widget.url"
               placeholder="http://www.google.com"
               value="http://gizmodo.com/a-recipe-for-your-hangover-michelada-thats-impossible-t-1777890642"
        >
    </div>
    <div class="form-group">
        <label for="widget-width">Width</label>
        <input type="text"
               class="form-control"
               id="widget-width"
               ng-model="model.widget.width"
               placeholder="100%"
               value="100%">
    </div>
    <div class="form-group">
        <label for="widget-upload">Upload</label>
        <input type="file"
               class="form-control"
               ng-model="model.widget.upload"
               id="widget-upload"
        >
    </div>

    <a class="btn btn-primary  btn-block">Upload Image</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>

</form>
