
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="widget-chooser.view.client.html">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="widget-header.view.client.html">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-label.view.client.html">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-html.view.client.html">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-input.view.client.html">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-link.view.client.html">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-button.view.client.html">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-table.view.client.html">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-repeater.view.client.html">
                Repeater
            </a>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <a href="/assignment/user/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
