
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget.widgetType,model.widget.text,model.widget.size)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div
         ng-switch on="model.widget.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include
            src="'views/widget/widget-header.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include
            src="'views/widget/widget-image.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include
            src="'views/widget/widget-youtube.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="HTML">
            <ng-include
                    src="'views/widget/widget-html.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-default>Can not render the widget.</div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
