
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/:uid/website/:wid/page/:pid/widget/new">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid">
                Repeater
            </a>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
