
    <div class="container">
        <h1>Register</h1>
        <input type="text"
               class="form-control"
               ng-model="model.user.username"
               placeholder="username"/>
        <input type="password"
               class="form-control"
               ng-model="model.user.password"
               placeholder="password"/>
        <input type="password"
               class="form-control"
               ng-model="model.user.password"
               placeholder="verify password"/>
        <a class="btn btn-primary btn-block"
           href="#/user/:uid">Register</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
    </div>
