
    <div class="container">
        <div ng-if="model.alert" class="alert alert-danger">
            {{model.alert}}
        </div>
        <h1>Register</h1>
        <input type="text"
               class="form-control"
               ng-model="user"
               placeholder="username"/>
        <input type="password"
               class="form-control"
               ng-model="password"
               placeholder="password"/>
        <input type="password"
               class="form-control"
               ng-model="verifypassword"
               placeholder="verify password"/>
        <a class="btn btn-primary btn-block"
           ng-click="model.register(user,password,verifypassword)"
           >Register</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
    </div>
