<h3><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Vincent M's City Tips</h3>
<ul>
    <li>You can buy paper tickets for "The T" (transit system) at any machine,
        but ask an attendant for a Charlie Card, to which you can add credit – it ends up being cheaper.</li>
    <li>Please recycle the Charlie Card when you are done with it. Baskets are available at all the stops,
        or you can give your card to any transit employee.</li>
    <li>Boston is a small(ish) city, so don't be afraid to walk – it only takes a couple of minutes
        to walk between some train stops.</li>
    <li>When dining out in Boston, it is customary to tip 15-20% of your restaurant bill, or $1 per drink at the bar.</li>
</ul>

<div>
    <div class="alert alert-success" role="alert">
        1. Hubway Bike Rental:
    </div>
    <h4>Vincent M Says: </h4>
    <p>"Boston's bike-sharing program has stations are all over the city, making it easy and affordable to explore on
        two wheels. While primarily a 'local' mode of transit, selling monthly and annual memberships, Hubway also offers
        24- and 72-hour passes that allow you to take as many rides as you like within your given period of time. Boston
        is small enough that you can easily cover a large part of the city in a single day of riding. And with Hubway,
        you can ride to one destination, drop off your bike at a nearby station, and then pick up another one later –
        without the hassle of figuring out where and how to lock up your wheels in between."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Download the app to find docking stations. The app will also tell you whether or not a given station has
            bikes or parking spaces available.</li>
        <li>Hubway Bike Rental is slightly more expensive than riding "The T", but riding a bike is a fun experience
            – and a better way to see the city than sitting on a train or bus.</li>
        <li>By renting a bike from Hubway, you agree to wear a helmet. Select kiosks feature
            "Helmet Hub" rental machines. Check the website in advance for locations.</li>
        <li>Be sure to bike safely in Boston. Stick to bike lanes, follow traffic signals,
            and be mindful of car and foot traffic.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>
    <div class="alert alert-success" role="alert">
        2. Middlesex Fells Reservation:
    </div>
    <h4>Vincent M Says: </h4>
    <p>"Less than 10 miles north of the city, you can access the Middlesex Fells Reservation from either Medford or
        Malden (both Boston suburbs). Within the reservation, you will find some easy hiking trails that lead up to
        a panoramic view of the city. It's a bit challenging to reach the Fells via public transportation, but the lush
        escape is well worth the trek. The chances of seeing other people is slim and if you do they will likely be locals."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Keep going up, as the view from the top is a must-see.</li>
        <li>Try to time it so you can see the sunset from the top – there is enough time to make it back to the bottom before dark.</li>
        <li>For the West Side: Take the Orange Line to Wellington Street, and then bus #100 to Roosevelt Circle Rotary.
            From there, it's a short walk to the Bellevue Pond entrance.</li>
        <li>For the East Side: Take the Orange Line to Oak Grove Station, and you're a short walk from the Gate 58 entrance,
            at the east end of the Cross Fells Trail.</li>
    </ul>
    <h4>Plan to stay: </h4><p>2~3 hours</p>
    <div class="alert alert-success" role="alert">
        3. Boston Common:
    </div>
    <h4>Vincent M Says: </h4>
    <p>"So you are in the city but fancy seeing some greenery, and maybe finding some peace and quiet? Historic and
        stunning, Boston Common is just the place for you. Established by the Puritans in 1634, the Common is the nation's
        original public park, and its nearly 50 acres are an inviting respite from the chaos of the city. Here you'll
        find plenty of green grass to set up a picnic, settle down and read, or toss around a frisbee for a while."</p>
    <h4>Tips: </h4>
    <ul>
        <li>If you aren't up for packing a picnic lunch, don't worry. There are plenty of restaurants all around.</li>
        <li>Pay attention to the signs on the trees – you can learn a lot, and some of the ages of the trees may surprise you.</li>
        <li>Boston Common is the start of the Freedom Trail, a 2.5-mile walking tour that will take you around 16
            historic sites. Simply find the red line, and you're off!</li>
        <li>The park is part of the Emerald Necklace, a 1,100-acre string of 9 parks linked by waterways and parkways.
            You can easily follow the trail to enjoy more stunning public spaces.</li>
    </ul>
    <h4>Plan to stay: </h4><p>2~3 hours</p>
</div>