<h3><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Marina K's City Tips</h3>
<ul>
    <li>Boston is generally a very safe city, but late at night, visitors are advised to avoid the Boston Common and
        some residential areas on the east and south sides of the city.</li>
    <li>The city is incredibly walkable and compact, with beautiful, historic streets.</li>
    <li>Boston's roads are infamously confusing, and parking difficult and expensive. Since you can reach everything
        on foot or via "The T" (subway/trolley system) skip the car.</li>
    <li>Famous foods to try include the Boston cream pie, lobster rolls, and clam chowder. Beers of choice are the local
        Harpoon and Sam Adams, ubiquitously available.</li>
    <li>Tip 15-20% at a sit-down restaurant, and $1 per drink at a bar.</li>
</ul>

<div>
    <h3><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;Day 1:</h3>
    <div class="alert alert-success" role="alert">
        1. Freedom Trail:
    </div>
    <h4>Marina K Says: </h4>
    <p>"The Freedom Trail, probably the most-mentioned Boston attraction, is famous for a reason. This 2.5-mile
        route takes visitors to 16 of the city's main historic sites! Among them are Boston Common, Faneuil Hall, the home
        of Paul Revere, and the USS Constitution. Give yourself plenty of time – there will be lots to see along the way!"</p>
    <h4>Tips: </h4>
    <ul>
        <li>If you opt for a self-guided tour, pick up a map at the information booth in Boston Common, and download the
            SmartPhone App, which offers fascinating stories and facts.</li>
        <li>Consider booking a guided tour. The guides, who represent historic figures, are knowledgeable and entertaining,
            and there are various themes from the standard to pub crawls.</li>
        <li>Book your tour in advance on the Freedom Trail Website to get 10% off.</li>
    </ul>
    <h4>Plan to stay: </h4><p>More than 3 hours</p>
    <div class="alert alert-success" role="alert">
        2. New England Aquarium:
    </div>
    <h4>Marina K Says: </h4>
    <p>"The New England Aquarium is home to hundreds of marine species, from intimidating sharks to adorable penguins. The
        aquarium schedule is full each day with a variety of animal presentations, so be sure to check what's happening
        during your visit."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Even if you don't visit, check out the Atlantic harbor seal tank, which is visible from outside the entrance as you walk by.</li>
    </ul>
    <h4>Plan to stay: </h4><p>2~3 hours</p>
    <div class="alert alert-success" role="alert">
        3. North End:
    </div>
    <h4>Marina K Says: </h4>
    <p>"The North End is home to Boston's Italian community, and accordingly, dozens of authentic family-owned Italian eateries.
        Here, you simply must sample the pasta and the pizza, or at least grab a gelato or cannoli pastry as you explore the
        neighborhood. The streets are narrow and seem to be bustling at every time of day."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Although the Freedom Trail passes through the North End, it's worth giving this neighborhood some extra time and
            eating a meal here, or at least grabbing a gelato or pastry.</li>
        <li>Enjoy some green space and a pleasant view of the bay at Christopher Columbus Park.</li>
        <li>Take Hanover Street through North End Park to check out the nearby New England Holocaust Memorial.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>
</div>
<div>
    <h3><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;Day 2:</h3>
    <div class="alert alert-success" role="alert">
        1. Boston Public:
    </div>
    <h4>Marina K Says: </h4>
    <p>"The serene ponds, weeping willows, vibrant flowers, and street performers in this botanical garden are a draw for
        travelers and locals alike. Located in the center of downtown, the Public Garden can be a great place to relax with
        a book, enjoy a picnic, or simply walk through en route to your next destination."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Within the park, look for the ducklings sculpture that depicts the characters from Robert McCloskey's
            1942 Caldecott Medal-winning children's book, "Make Way for Ducklings".</li>
        <li>From the Arlington St. side of the park, walk down Commonwealth Ave. You'll find statues and memorials with
            fascinating stories from the histories of the city and the country.</li>
    </ul>
    <h4>Plan to stay: </h4><p>Less than 1 hour</p>
    <div class="alert alert-success" role="alert">
        2. Newbury Street:
    </div>
    <h4>Marina K Says: </h4>
    <p>"Newbury is Boston's quintessential shopping and dining destination. Located in the mixed commercial-residential
        Back Bay neighborhood, it's packed with trendy shops – ranging from upscale boutiques to independent bookshops
        to thrift stores – all housed in the ground floors of beautiful brownstones. Newbury is also known for its
        outdoor dining – along with some of the best people-watching in the city."</p>
    <h4>Tips: </h4>
    <ul>
        <li>If you're looking for wifi, check out these free options: Trident Booksellers, an eatery and independent
            bookstore in one, and the Wired Puppy, which has a computer for customers.</li>
    </ul>
    <h4>Plan to stay: </h4><p>More than 3 hours</p>
    <div class="alert alert-success" role="alert">
        3. Cheers Beacon Hill:
    </div>
    <h4>Marina K Says: </h4>
    <p>"After strolling your way through the morning, wind down with a mug of beer and hearty pub fare at this classic
        bar, the famous setting of the 1980s sitcom 'Cheers'. Historic 'Cheers' and Boston Red Sox memorabilia lines
        the walls, and the spot is friendly and fun (though you're likely to leave with the theme song 'Where Everybody
        Knows Your Name' running through your head on repeat!)."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Cheers has two locations: Beacon Hill and Faneuil Hall. The Beacon Hill location is the original!</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>

    <div class="alert alert-success" role="alert">
        4. Prudential Center:
    </div>
    <h4>Marina K Says: </h4>
    <p>"When in Boston, be sure to make your way to the top of the Prudential Center Tower. On the Skywalk,
        you can get a panoramic view of the city, with an audio guide that tells you about the famous landmarks
        as you view them from up high. Alternatively, enjoy the scenery from the upscale restaurant and bar,
        'Top of the Hub'."</p>
    <h4>Tips: </h4>
    <ul>
        <li>It's incredible to see Fenway and other landmarks during the day, but the city
            lights are beautiful at night. Come just before sunset to get the best of both,
            plus the sunset!</li>
        <li>The Skywalk is open from 10 am - 8 pm during winter and until 10 pm in summer.
            Last admissions are 30 minutes before closing.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>

    <div class="alert alert-success" role="alert">
        5. Fenway Park:
    </div>
    <h4>Marina K Says: </h4>
    <p>"Fenway Park, home to the Boston Red Sox since 1912, has all the cheerful essence of a classic American ballpark.
        Of course, the best way to see the park in its full glory is to attend a game there, but if you don't have time,
        or aren't in town during season, you can opt for a tour of this colorful stadium, or you can even get some great
        photos just by walking around the perimeter."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Available daily and year-round, the 60-minute tours depart on the hour from 10 am - 5 pm. Arrive
            early as they sometimes fill up.</li>
        <li>Have a drink or lunch at Bleacher Bar, where the windows look straight into the park.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>
</div>
<div>
    <h3><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;Day 3:</h3>
    <div class="alert alert-success" role="alert">
        1. MIT:
    </div>
    <h4>Marina K Says: </h4>
    <p>"A big name across the river in Cambridge, MIT provides the kind of modernist architecture you may expect from a
        top school in the sciences. Its surrounding area offers scores of trendy bar and restaurant options,
        with equally minimalist and inventive decor. You'll find the greatest concentration of food and drink
        options at One Kendall Square, which is counter-intuitively half a mile away from the T's Kendall
        Square stop."</p>
    <h4>Tips: </h4>
    <ul>
        <li>For food or drinks, try all-day breakfast with a twist at Friendly Toast, a campsite-themed meal at State
            Park, or whatever is on tap at microbrewery Cambridge Brewing Co.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>
    <div class="alert alert-success" role="alert">
        2. Museum of Science:
    </div>
    <h4>Marina K Says: </h4>
    <p>"Spread over three floors, this museum has hundreds of exhibits on topics ranging from dinosaurs to
        electricity to the human body. Fun and informative for both children
        and adults, the museum also houses an IMAX theater and an observatory,
        which is open on clear Friday nights (8:30-10 pm) from March to November."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Friday nights at the observatory are free! Arrive early in the evening (around 8:30 pm) to avoid long lines.</li>
        <li>Certain exhibits, including the Butterfly Garden and Planetarium, require timed tickets (and additional fees).
            Visit the website in advance to determine what you want to see.</li>
    </ul>
    <h4>Plan to stay: </h4><p>2~3 hours</p>
    <div class="alert alert-success" role="alert">
        3. Harvard University:
    </div>
    <h4>Marina K Says: </h4>
    <p>"The oldest university in the country, prestigious Harvard University is renowned both for its intellectual elite
        and iconic red-brick buildings. A stroll through Harvard Yard, the main student thoroughfare, will leave you feeling
        inspired (and maybe studious), and after you've acquired some intellectual fuel, you can find sustenance at one
        of the scores of restaurant bars, trendy fast food options, ethnic eats, and independent cafes in the area."</p>
    <h4>Tips: </h4>
    <ul>
        <li>Some excellent cafes to try here are Pamplona (over 50 years old, and the first in the neighborhood!),
            Clover, Crema Cafe, and L.A. Burdick's.</li>
        <li>Take the red line of "The T" which will let you out just near Harvard Yard.</li>
    </ul>
    <h4>Plan to stay: </h4><p>1~2 hours</p>

</div>
