<form >
    <div class="form-group" >
        <label for="widget-name">Name</label>
        <input disabled type="text"
               class="form-control"

               id="widget-name"
               placeholder="name"
               ng-model="model.widget.widgetType"
        >
    </div>
    <div class="form-group">
        <label for="widget-text">Text</label>
                <textarea rows="4"
                          id="widget-text"
                          class="form-control"
                          ng-model="model.widget.text"
                          placeholder="text">A Recipe for Your Hangover Michelada That's Impossible to Screw Up</textarea>

    </div>
    <div class="form-group">
        <label for="widget-size">Size</label>
        <input type="number"
               class="form-control"
               id="widget-size"
               ng-model="model.widget.size"
               value="3"
               placeholder="3"
        >
    </div>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</form>

