

    <div class="container">
        <div class="loginpage">
            <form class="form-horizontal">
                <fieldset>
                    <legend>BostonTrip</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                                <a href="#" class="pull-right">Forget Password?</a>
                            </div>
                        </div>
                    </div>

                    <a href="http://www.google.com" class="btn btn-primary loginbtn">Log In</a>

                </fieldset>
            </form>
        </div>
    </div>
