<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header page-scroll">
            <div class="col-xs-4">
                <div  class="logo">
                    <a class="page-scroll" href="#/landingPage/{{model.userId}}">BostonTrip</a>
                </div>
            </div>
            <div class="col-xs-6">
            </div>
            <div class="col-xs-2">
                <button type="button"  class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/about" style="color: white">About Boston</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/attractions" style="color: white">Attractions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/guide" style="color: white">Travel Guide</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/{{model.userId}}/live" style="color: white">Live and Eat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="profileBackground"></section>
<section id="profileMain">
    <div class="container">
        <div class="myProfile">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-glass pull-left"></span>
                    <h3>Restaurants</h3>
                    <div></div>
                </div>
                <div ng-if="model.existEat" class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{model.existEat}}
                </div>
                <div ng-if="model.eatSuccess" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{model.eatSuccess}}
                </div>
                <h3>Seafood:</h3>
                <div class="row detailShow">
                    <div class="col-sm-3" ng-repeat="eat in model.eats|filter:{type:1}">
                        <div class="jga-widget-tool">
                            <a ng-click="model.likeEat(eat._id,eat.name)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                        <a ng-href="{{eat.url}}">
                            <div class="thumbnail">
                                <img ng-src={{eat.image}}>
                                <div class="caption">
                                    <h5>{{eat.name}}</h5>
                                    <p><span>{{eat.price}}</span> | <span class="stars">{{eat.stars}} STARS</span></p>
                                    <p>{{eat.address}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <h3>Desserts:</h3>
                <div class="row detailShow">
                    <div class="col-sm-3" ng-repeat="eat in model.eats|filter:{type:2}">
                        <div class="jga-widget-tool">
                            <a ng-click="model.likeEat(eat._id,eat.name)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                        <a ng-href="{{eat.url}}">
                            <div class="thumbnail">
                                <img ng-src={{eat.image}}>
                                <div class="caption">
                                    <h5>{{eat.name}}</h5>
                                    <p><span>{{eat.price}}</span> | <span class="stars">{{eat.stars}} STARS</span></p>
                                    <p>{{eat.address}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <h3>Fast Foods:</h3>
                <div class="row detailShow">
                    <div class="col-sm-3" ng-repeat="eat in model.eats|filter:{type:3}">
                        <div class="jga-widget-tool">
                            <a ng-click="model.likeEat(eat._id,eat.name)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                        <a ng-href="{{eat.url}}">
                            <div class="thumbnail">
                                <img ng-src={{eat.image}}>
                                <div class="caption">
                                    <h5>{{eat.name}}</h5>
                                    <p><span>{{eat.price}}</span> | <span class="stars">{{eat.stars}} STARS</span></p>
                                    <p>{{eat.address}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="myFavorites">
    <div class="container">
        <div class="myProfile">
            <div class="col-lg-12">
                <div class="introtitle">
                    <span class="glyphicon glyphicon-bed pull-left"></span>
                    <h3>Hotels</h3>
                    <div></div>
                </div>
                <div ng-if="model.existHotel" class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{model.existHotel}}
                </div>
                <div ng-if="model.hotelSuccess" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{model.hotelSuccess}}
                </div>
                <h3>Most Popular:</h3>
                <div class="row detailShow">
                    <div class="col-sm-3" ng-repeat="hotel in model.hotels|filter:{type:1}">
                        <div class="jga-widget-tool">
                            <a ng-click="model.likeHotel(hotel._id,hotel.name)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                        <a ng-href="{{hotel.booking}}">
                            <div class="thumbnail">
                                <img ng-src={{hotel.image}}>
                                <div class="caption">
                                    <h5>{{hotel.name}}</h5>
                                    <p><span>${{hotel.price}}</span> | <span class="stars">{{hotel.stars}} STARS</span></p>
                                    <p>{{hotel.address}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <h3>4 Stars and higher:</h3>
                <div class="row detailShow">
                    <div class="col-sm-3" ng-repeat="hotel in model.hotels|filter:{type:2}">
                        <div class="jga-widget-tool">
                            <a ng-click="model.likeHotel(hotel._id,hotel.name)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                        <a ng-href="{{hotel.booking}}">
                            <div class="thumbnail">
                                <img ng-src={{hotel.image}}>
                                <div class="caption">
                                    <h5>{{hotel.name}}</h5>
                                    <p><span>${{hotel.price}}</span> | <span class="stars">{{hotel.stars}} STARS</span></p>
                                    <p>{{hotel.address}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <h3>3 Stars and Lower:</h3>
                <div class="row detailShow">
                    <div class="col-sm-3" ng-repeat="hotel in model.hotels|filter:{type:3}">
                        <div class="jga-widget-tool">
                            <a ng-click="model.likeHotel(hotel._id,hotel.name)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </div>
                        <a ng-href="{{hotel.booking}}">
                            <div class="thumbnail">
                                <img ng-src={{hotel.image}}>
                                <div class="caption">
                                    <h5>{{hotel.name}}</h5>
                                    <p><span>${{hotel.price}}</span> | <span class="stars">{{hotel.stars}} STARS</span></p>
                                    <p>{{hotel.address}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-left">
            <a href="#profile/{{model.userId}}"><img src="image/love1.png" id="loveicon"></a>
        </div>
        <div class="pull-right">
            <a href="#profile/{{model.userId}}"><img src="image/users.png"></a>
        </div>
    </div>
</nav>
