
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.website}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.website}}/page/{{model.page}}/widget">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.website}}/page/{{model.page}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

    <wam-sortable  widgets="model"
                   callback="model.reorderWidgets(start,end)"
                  sort="model.reorderWidgets(start,end)"
                  >
    </wam-sortable>


<!--{{model.data}}-->
<!--<todos data="model.data"-->
       <!--callback="model.reorderTodos(start,end)">-->

<!--</todos>-->


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="pull-left">
            <a href="#">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div class="pull-left" id="eyes">
            <a href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="pull-right">
            <a href="#/user">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
